body {
    height: 100vh;
    margin: 0;
    display: grid;
    place-content: center;
    cursor: pointer;
      
}

.background {
    border-radius: 20px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 80vh;
    width: 80vw;
    background-image: url(animal.jpg);
    background-size: cover;
    background-position: center;
    filter: blur(100px);
    z-index: -1;
}

.load-text {
    font-size: 4em;
    color: aliceblue;
}




